<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EnableArgsModeViaConfig" value="true" />
    <add key="PromptsEnabled" value="true" />
    
    <!-- backup only -->
    <add key="Backup" value="true" />
    <add key="DatabaseName" value="DatabaseMinder" />
    <add key="SaveDirectory" value="c:\temp\" />
    <add key="FileName" value="sample_{0}.7z" />
    
    
    <!-- restore only-->
    <add key="ConnectionString" value="Data Source=(local)\;Database=DatabaseMinder; Integrated Security=SSPI;" />
    
    <add key="Restore" value="false" />
    <add key="Download" value="false" />

  </appSettings>
</configuration>