<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EnableArgsModeViaConfig" value="true" />
    <add key="PromptsEnabled" value="true" />
    <add key="Folder" value="c:\temp\" />
    <add key="Backup" value="false" />
    <add key="FileName" value="sample_{0}.7z" />
    <add key="Restore" value="true" />
    <add key="DatabaseName" value="DatabaseMinder" />  
    

  </appSettings>
</configuration>