<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DatabaseNameMinder.EnableArgsModeViaConfig" value="false" />
    <add key="DatabaseNameMinder.PromptsEnabled" value="true" />
    <add key="DatabaseNameMinder.DatabaseName" value="DatabaseNameMinder" />
    <add key="DatabaseNameMinder.Folder" value="c:\temp\" />
    <add key="DatabaseNameMinder.Backup" value="true" />
    <add key="DatabaseNameMinder.Restore" value="true" />
    <add key="DatabaseNameMinder.ZipBackup" value="true"/>
    <add key="DatabaseNameMinder.CompressionEnabled" value="true"/>
  </appSettings>
</configuration>